*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}


.table-header{
  background-color: #f0f0f0 !important;
}
.table-pagination {
  padding: 12px 0;
  display: flex;
  flex-direction: row-reverse;
}