.medium-zoom-image{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: inline-block;
  border-radius:3px;
  transition: box-shadow 0.3s ease-in;
  &:hover{
    box-shadow: 0 8px 10px rgba(8,8,8,0.3);
  }
}

.theme-default-content.content__default{
  max-width: 80%;
}
footer.page-edit{
  max-width: 80%;
}
div.page-nav{
  max-width: 80%;
}

.sidebar-group {
  .sidebar-heading {
    padding: 0.35rem 1.25rem 0.35rem 1.25rem;
  }
}