<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.DomainMapper" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="net.somta.juggle.console.infrastructure.po.DomainPO" >
	<result column="id" property="id"/>
	<result column="domain_code" property="domainCode"/>
	<result column="domain_name" property="domainName"/>
	<result column="domain_desc" property="domainDesc"/>
	<result column="created_at" property="createdAt"/>
	<result column="created_by" property="createdBy"/>
	<result column="updated_at" property="updatedAt"/>
	<result column="updated_by" property="updatedBy"/>
</resultMap>

<sql id="Example_Where_Clause">
	where 1=1
	<if test="domainName != null and domainName != ''">
		and domain_name like concat("%",#{domainName},"%")
	</if>
	ORDER BY created_at DESC
</sql>

<!-- t_domain table all fields -->
<sql id="Base_Column_List" >
	id, domain_code, domain_name, domain_desc, created_at, created_by, updated_at, updated_by
</sql>

<insert id="add" parameterType="net.somta.juggle.console.infrastructure.po.DomainPO" >
	insert into t_domain (id, domain_code, domain_name, domain_desc, created_at, created_by, updated_at, updated_by)
	values (#{id},#{domainCode},#{domainName},#{domainDesc},#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

<delete id="deleteById" parameterType="java.lang.Long">
 delete from t_domain where id=#{id}
</delete>

<update id="update" parameterType="net.somta.juggle.console.infrastructure.po.DomainPO" >
	update t_domain set
	<trim  suffixOverrides="," >
	<if test="domainCode != null and domainCode != ''">
		domain_code=#{domainCode},
	</if>
	<if test="domainName != null and domainName != ''">
		domain_name=#{domainName},
	</if>
	<if test="domainDesc != null and domainDesc != ''">
		domain_desc=#{domainDesc},
	</if>
	<if test="createdAt != null">
		created_at=#{createdAt},
	</if>
	<if test="createdBy != null">
		created_by=#{createdBy},
	</if>
	<if test="updatedAt != null">
		updated_at=#{updatedAt},
	</if>
	<if test="updatedBy != null">
		updated_by=#{updatedBy},
	</if>
	</trim> where id=#{id}
</update>

<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_domain where id = #{id}
</select>

<select id="queryListCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.domain.domain.vo.DomainQueryVO">
	select count(*)
	from t_domain
	<include refid="Example_Where_Clause"/>
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="net.somta.juggle.console.domain.domain.vo.DomainQueryVO">
	select <include refid="Base_Column_List" /> 
	from t_domain
	<include refid="Example_Where_Clause"/>
</select>

</mapper>   
