<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.FlowDefinitionMapper" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="net.somta.juggle.console.infrastructure.po.FlowDefinitionInfoPO" >
	<result column="id" property="id"/>
	<result column="flow_key" property="flowKey"/>
	<result column="flow_name" property="flowName"/>
	<result column="flow_type" property="flowType"/>
	<result column="flow_content" property="flowContent"/>
	<result column="remark" property="remark"/>
	<result column="created_at" property="createdAt"/>
	<result column="created_by" property="createdBy"/>
	<result column="updated_at" property="updatedAt"/>
	<result column="updated_by" property="updatedBy"/>
</resultMap>

<sql id="Example_Where_Clause">
	where 1=1
	<if test="flowName != null and flowName != ''">
		and flow_name like concat("%",#{flowName},"%")
	</if>
	<if test="flowType != null and flowType != ''">
		and flow_type = #{flowType}
	</if>
</sql>
       
<sql id="Base_Column_List" >
	id, flow_key, flow_name,flow_type, flow_content, remark, created_at, created_by, updated_at, updated_by
</sql>
   
<insert id="add" parameterType="net.somta.juggle.console.infrastructure.po.FlowDefinitionInfoPO" >
	insert into t_flow_definition (id, flow_key, flow_name,flow_type, flow_content, remark, created_at, created_by, updated_at, updated_by)
	values (#{id},#{flowKey},#{flowName},#{flowType},#{flowContent},#{remark},#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

<delete id="deleteById" parameterType="java.lang.Long">
 delete from t_flow_definition where id=#{id}
</delete>

<update id="update" parameterType="net.somta.juggle.console.infrastructure.po.FlowDefinitionInfoPO" >
	update t_flow_definition set
	<trim  suffixOverrides="," >
	<if test="flowKey != null and flowKey != ''">
		flow_key=#{flowKey},
	</if>
	<if test="flowName != null and flowName != ''">
		flow_name=#{flowName},
	</if>
	<if test="flowType != null and flowType != ''">
		flow_type=#{flowType},
	</if>
	<if test="flowContent != null and flowContent != ''">
		flow_content=#{flowContent},
	</if>
	<if test="remark != null and remark != ''">
		remark=#{remark},
	</if>
	<if test="createdAt != null">
		created_at=#{createdAt},
	</if>
	<if test="createdBy != null">
		created_by=#{createdBy},
	</if>
	<if test="updatedAt != null">
		updated_at=#{updatedAt},
	</if>
	<if test="updatedBy != null">
		updated_by=#{updatedBy},
	</if>
	</trim> where id=#{id}
</update>

<select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from t_flow_definition where id = #{id}
</select>

<select id="queryListCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.interfaces.param.definition.FlowDefinitionPageParam">
	select count(*)
	from t_flow_definition
	<include refid="Example_Where_Clause"/>
</select>

<select id="queryByList" resultMap="BaseResultMap" parameterType="net.somta.juggle.console.interfaces.param.definition.FlowDefinitionPageParam">
	select <include refid="Base_Column_List" />
	from t_flow_definition
	<include refid="Example_Where_Clause"/>
</select>

</mapper>   
