<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.suite.ApiMapper" >

<insert id="addApi" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.suite.ApiPO" >
	insert into t_api (id, suite_id, api_code, api_url, api_name, api_desc, api_request_type, api_request_content_type,deleted,created_at, created_by, updated_at, updated_by)
	values (#{id},#{suiteId},#{apiCode},#{apiUrl},#{apiName},#{apiDesc},#{apiRequestType},#{apiRequestContentType},0,#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

<select id="queryApiByCode" resultType="net.somta.juggle.console.infrastructure.po.suite.ApiPO" parameterType="java.lang.String">
	select id, suite_id, api_code, api_url, api_name, api_desc, api_request_type, api_request_content_type
	from t_api where api_code=#{apiCode}
</select>

<select id="queryApiListBySuiteId" resultType="net.somta.juggle.console.infrastructure.po.suite.ApiPO" parameterType="java.lang.Long">
	select id, suite_id, api_url, api_name, api_desc, api_request_type, api_request_content_type
	from t_api where suite_id=#{suiteId}
</select>

<select id="queryApiListBySuiteCode" resultType="net.somta.juggle.console.infrastructure.po.suite.ApiPO" parameterType="java.lang.String">
	select a.id, a.suite_id,a.api_code, a.api_url, a.api_name, a.api_desc, a.api_request_type, a.api_request_content_type
	from t_api a inner join t_suite s on a.suite_id = s.id where s.suite_code=#{suiteCode}
</select>

<select id="queryApiCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.interfaces.param.suite.ApiQueryParam">
	select count(*)
	from t_api where 1=1
	<if test="suiteId != null">
	and suite_id=#{suiteId}
    </if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
</select>

<select id="queryApiPageList" resultType="net.somta.juggle.console.domain.suite.api.vo.ApiVO" parameterType="net.somta.juggle.console.interfaces.param.suite.ApiQueryParam">
	select
	a.id as id,
	s.suite_name as suiteName,
	a.api_url as  apiUrl,
	a.api_name as apiName,
	a.api_desc as apiDesc,
	a.api_request_type as apiRequestType,
	a.created_at as createdAt
	from t_api a inner join t_suite s on a.suite_id = s.id where 1=1
	<if test="suiteId != null">
		and suite_id=#{suiteId}
	</if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
    ORDER BY a.created_at DESC
</select>




</mapper>   
