<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.system.DataSourceMapper" >

<insert id="addDataSource" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.system.DataSourcePO" >
    insert into t_data_source (id, data_source_name, data_source_type, address, port, user_name, password, database_name, connect_ext_info, min_pool_size, max_pool_size, query_timeout, data_source_ext_info, created_at, created_by, updated_at, updated_by)
    values (#{id},#{dataSourceName},#{dataSourceType},#{address},#{port},#{userName},#{password},#{databaseName},#{connectExtInfo},#{minPoolSize},#{maxPoolSize},#{queryTimeout},#{dataSourceExtInfo},#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

</mapper>   
