<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.flow.FlowDefinitionMapper" >

    <insert id="addFlowDefinitionInfo" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.flow.FlowDefinitionInfoPO" >
        insert into t_flow_definition (id, flow_key, flow_name,flow_type, flow_content, remark,deleted,created_at, created_by, updated_at, updated_by)
        values (#{id},#{flowKey},#{flowName},#{flowType},#{flowContent},#{remark},0,#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
    </insert>

    <select id="queryFlowDefinitionByKey" resultType="net.somta.juggle.console.infrastructure.po.flow.FlowDefinitionInfoPO" parameterType="java.lang.String">
        select id, flow_key as flowKey, flow_name as flowName,flow_type as flowType,flow_content as flowContent, remark
        from t_flow_definition where flow_key = #{flowKey}
    </select>

    <select id="queryFlowDefinitionList" resultType="net.somta.juggle.console.domain.flow.definition.vo.FlowDefinitionInfoVO" parameterType="net.somta.juggle.console.domain.flow.definition.vo.FlowDefinitionInfoQueryVO">
        select id, flow_key as flowKey, flow_name as flowName,flow_type as flowType, remark, created_at as createdAt
        from t_flow_definition
        where 1=1 and deleted=0
        <if test="flowName != null and flowName != ''">
            and flow_name like concat("%",#{flowName},"%")
        </if>
        <if test="flowType != null and flowType != ''">
            and flow_type = #{flowType}
        </if>
        ORDER BY created_at DESC
    </select>

</mapper>
