<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.FlowMapper" >


<select id="querySimpleFlowInfo" resultType="net.somta.juggle.console.infrastructure.model.FlowInfo" parameterType="java.lang.Long">
	select id,flow_key,flow_name,flow_type,flow_status
	from t_flow where id = #{flowId}
</select>

<select id="queryFlowByFlowKey" resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" />
	from t_flow where flow_key = #{flowKey}
</select>

<select id="queryFlowList" resultMap="BaseResultMap">
	select <include refid="Base_Column_List" /> 
	from t_flow
</select>

</mapper>   
