<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.VariableInfoMapper" >

<insert id="batchAddVariable">
	insert into t_variable_info (id, flow_definition_id, env_key, env_name, env_type, data_type)
	values
	<foreach collection ="variableInfoList" item="item" separator =",">
		(#{item.id},#{item.flowDefinitionId},#{item.envKey},#{item.envName},#{item.envType},#{item.dataType})
	</foreach>
</insert>

<delete id="deleteVariableByFlowDefinitionId" parameterType="java.lang.Long">
	delete from t_variable_info where flow_definition_id=#{flowDefinitionId}
</delete>

<select id="queryVariableInfoListByDefinitionId" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_variable_info where flow_definition_id=#{flowDefinitionId}
</select>

</mapper>
