<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.mapper.ApiMapper" >
   
<!--<insert id="addDataType" parameterType="net.somta.juggle.console.model.DataTypeInfo" >
	insert into t_data_type_info (id, data_type_classify, type, type_name, display_name, object_structure)
	values (#{id},#{dataTypeClassify},#{type},#{typeName},#{displayName},#{objectStructure});
</insert>-->

<!--<delete id="deleteDataTypeById" parameterType="java.lang.Long">
 delete from t_data_type_info where id=#{id}
</delete>-->

<!--<update id="updateDataTypeById" parameterType="net.somta.juggle.console.model.DataTypeInfo" >
	update t_data_type_info set
	<trim  suffixOverrides="," >
	<if test="data_type_classify != null">
		data_type_classify=#{dataTypeClassify},
	</if>
	<if test="type != null">
		type=#{type},
	</if>
	<if test="typeName != null and typeName != ''">
		type_name=#{typeName},
	</if>
	<if test="displayName != null and displayName != ''">
		display_name=#{displayName},
	</if>
	<if test="objectStructure != null and objectStructure != ''">
		object_structure=#{objectStructure},
	</if>
	</trim> where id=#{id}
</update>-->

<!--<select id="queryDataTypeById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from t_data_type_info where id = #{id}
</select>-->

<select id="queryApiList" resultMap="BaseResultMap">
	select <include refid="Base_Column_List" /> 
	from t_api
</select>

<select id="queryApiListByDomainId" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_api where domain_id=#{domainId}
</select>

<select id="queryApiCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.model.param.ApiQueryParam">
	select count(*)
	from t_api where 1=1
	<if test="domainId != null">
	and domain_id=#{domainId}
    </if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
</select>

<select id="queryApiPageList" resultType="net.somta.juggle.console.model.dto.ApiDTO" parameterType="net.somta.juggle.console.model.param.ApiQueryParam">
	select
	a.id as id,
	d.domain_name as domainName,
	a.api_url as  apiUrl,
	a.api_name as apiName,
	a.api_desc as apiDesc,
	a.api_request_type as apiRequestType,
	a.created_at as createdAt
	from t_api a inner join t_domain d on a.domain_id = d.id where 1=1
	<if test="domainId != null">
		and domain_id=#{domainId}
	</if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
</select>




</mapper>   
