<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.mapper.DataTypeInfoMapper" >

<select id="queryDataTypeList" resultType="net.somta.juggle.console.model.DataTypeInfo">
	select id,
	       data_type_classify as dataTypeClassify,
	       data_type as dataType,
	       display_name as displayName,
	       object_key as objectKey,
	       object_structure as objectStructure
	from t_data_type_info
</select>

</mapper>   
