<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.ApiMapper" >

<insert id="addApi" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.ApiPO" >
	insert into t_api (id, domain_id, api_url, api_name, api_desc, api_request_type, api_request_content_type, created_at, created_by, updated_at, updated_by)
	values (#{id},#{domainId},#{apiUrl},#{apiName},#{apiDesc},#{apiRequestType},#{apiRequestContentType},#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

<select id="queryApiList" resultMap="BaseResultMap">
	select <include refid="Base_Column_List" /> 
	from t_api
</select>

<select id="queryApiListByDomainId" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_api where domain_id=#{domainId}
</select>

<select id="queryApiCount" resultType="java.lang.Long" parameterType="net.somta.juggle.console.interfaces.param.ApiQueryParam">
	select count(*)
	from t_api where 1=1
	<if test="domainId != null">
	and domain_id=#{domainId}
    </if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
</select>

<select id="queryApiPageList" resultType="net.somta.juggle.console.interfaces.dto.ApiDTO" parameterType="net.somta.juggle.console.interfaces.param.ApiQueryParam">
	select
	a.id as id,
	d.domain_name as domainName,
	a.api_url as  apiUrl,
	a.api_name as apiName,
	a.api_desc as apiDesc,
	a.api_request_type as apiRequestType,
	a.created_at as createdAt
	from t_api a inner join t_domain d on a.domain_id = d.id where 1=1
	<if test="domainId != null">
		and domain_id=#{domainId}
	</if>
	<if test="apiUrl != null and apiUrl != ''">
		and api_url like concat("%", #{apiUrl}, "%")
	</if>
	<if test="apiName != null and apiName != ''">
		and api_name like concat("%", #{apiName}, "%")
	</if>
</select>




</mapper>   
