<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.ParameterMapper" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="net.somta.juggle.console.infrastructure.po.ParameterPO" >
	<result column="id" property="id"/>
	<result column="param_type" property="paramType"/>
	<result column="param_key" property="paramKey"/>
	<result column="param_name" property="paramName"/>
	<result column="data_type" property="dataType"/>
	<result column="required" property="required"/>
	<result column="source_type" property="sourceType"/>
	<result column="source_id" property="sourceId"/>
</resultMap>
       
<!-- t_parameter table all fields -->
<sql id="Base_Column_List" >
	id, param_type, param_key, param_name, data_type, required, source_type, source_id
</sql>
   
<insert id="addParameter" parameterType="net.somta.juggle.console.infrastructure.po.ParameterPO" >
	insert into t_parameter (id, param_type, param_key, param_name, data_type, required, source_type, source_id)
	values (#{id},#{paramType},#{paramKey},#{paramName},#{dataType},#{required},#{sourceType},#{sourceId});
</insert>


<insert id="batchAddParameter" parameterType="java.util.List">
	insert into t_parameter (id, param_type, param_key, param_name, data_type, required, source_type, source_id,created_at)
	values
	<foreach collection ="parameterList" item="param" separator =",">
		(#{param.id},#{param.paramType},#{param.paramKey},#{param.paramName},#{param.dataType},#{param.required},#{param.sourceType},#{param.sourceId},#{param.createdAt})
	</foreach>
</insert>

<!--<delete id="deleteDataTypeById" parameterType="java.lang.Long">
 delete from t_data_type_info where id=#{id}
</delete>-->

<delete id="deleteParameter" parameterType="net.somta.juggle.console.domain.parameter.vo.ParameterVO">
 delete from t_parameter where source_type=#{sourceType} and source_id=#{sourceId}
</delete>

<!--<update id="updateDataTypeById" parameterType="net.somta.juggle.console.model.DataTypeInfo" >
	update t_data_type_info set
	<trim  suffixOverrides="," >
	<if test="data_type_classify != null">
		data_type_classify=#{dataTypeClassify},
	</if>
	<if test="type != null">
		type=#{type},
	</if>
	<if test="typeName != null and typeName != ''">
		type_name=#{typeName},
	</if>
	<if test="displayName != null and displayName != ''">
		display_name=#{displayName},
	</if>
	<if test="objectStructure != null and objectStructure != ''">
		object_structure=#{objectStructure},
	</if>
	</trim> where id=#{id}
</update>-->

<!--<select id="queryDataTypeById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" /> 
	from t_data_type_info where id = #{id}
</select>-->

<!--<select id="queryApiList" resultMap="BaseResultMap">
	select <include refid="Base_Column_List" /> 
	from t_api
</select>-->


<select id="getParameterListByVO" resultMap="BaseResultMap" parameterType="net.somta.juggle.console.domain.parameter.vo.ParameterVO">
	select <include refid="Base_Column_List" />
	from t_parameter where 1=1
	<if test="sourceType != null and sourceType != ''">
		and source_type=#{sourceType}
	</if>
	<if test="sourceId != null">
		and source_id=#{sourceId}
	</if>
</select>

</mapper>   
