<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.ObjMapper" >
    <insert id="addObj" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.ApiPO" >
        insert into t_obj (id, obj_code, obj_name, obj_desc, created_at, created_by, updated_at, updated_by)
        values (#{id},#{objCode},#{objName},#{objDesc},#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
    </insert>


</mapper>   
