<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.somta.juggle.console.infrastructure.mapper.suite.SuiteMapper">

<insert id="addSuite" useGeneratedKeys="true" keyProperty="id" parameterType="net.somta.juggle.console.infrastructure.po.suite.SuitePO" >
    insert into t_suite (id, suite_code, suite_name, suite_classify_id, suite_image, suite_version, suite_desc, suite_help_doc_json, suite_flag,deleted, created_at, created_by, updated_at, updated_by)
    values (#{id},#{suiteCode},#{suiteName},#{suiteClassifyId},#{suiteImage},#{suiteVersion},#{suiteDesc},#{suiteHelpDocJson},#{suiteFlag},0,#{createdAt},#{createdBy},#{updatedAt},#{updatedBy});
</insert>

<select id="querySuiteByCode" resultType="net.somta.juggle.console.infrastructure.po.suite.SuitePO" parameterType="java.lang.String">
    select id, suite_code, suite_name, suite_classify_id, suite_version, suite_desc, suite_help_doc_json, suite_flag
    from t_suite where suite_code = #{suiteCode}
</select>

<select id="queryNotBuySuiteByCodes" resultType="net.somta.juggle.console.infrastructure.po.suite.SuitePO" parameterType="java.util.List">
    SELECT id, suite_code, suite_name, suite_image FROM t_suite WHERE suite_code NOT IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>



</mapper>   
