<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matecoder.juggle.console.infrastructure.mapper.VariableInfoMapper" >

<insert id="batchAddVariable">
	insert into t_variable_info (id, flow_definition_id, variable_key, variable_name, variable_type, data_type)
	values
	<foreach collection ="variableInfoList" item="item" separator =",">
		(#{item.id},#{item.flowDefinitionId},#{item.variableKey},#{item.variableName},#{item.variableType},#{item.dataType})
	</foreach>
</insert>

<delete id="deleteVariableByFlowDefinitionId" parameterType="com.matecoder.juggle.console.domain.flow.definition.vo.VariableDeleteVO">
	delete from t_variable_info where flow_definition_id=#{flowDefinitionId}
	<if test="excludeEnvType != null and excludeEnvType != ''">
		and variable_type!=#{excludeEnvType}
	</if>
</delete>

<select id="queryVariableInfoListByDefinitionId" resultMap="BaseResultMap" parameterType="java.lang.Long">
	select <include refid="Base_Column_List" />
	from t_variable_info where flow_definition_id=#{flowDefinitionId}
</select>

</mapper>
